<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alpha.repository.rdb.singleTable.dao.CooperatorMapper" >
  <select id="getCooperatorsByBacklogId" parameterType="integer" resultType="cooperator">
    SELECT * FROM todolist3.cooperator WHERE backlogId=#{backlogId}
  </select>
</mapper>